<!DOCTYPE html>

<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Dashboard</title>

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <div class="navbar">
    
        <div class="nav-left">⚡ GENPASS</div>
    
        <div class="nav-user" id="userMenu">
            <i class="fa fa-user"></i>
            {{user}} ⌄
            <div class="dropdown">
                <a href="/">
                    <i class="fa-solid fa-house"></i> Inicio
                </a>
                <a href="/historial">
                    <i class="fa fa-clock"></i>Historial
                </a>
                {% if rol == "Aministrador" %}
                <a href="/admin">
                    <i class="fa-solid fa-user-shield"></i> Administrar
                </a>
                {% endif %}
                <a href="/logout">
                    <i class="fa-solid fa-right-from-bracket"></i> Salir
                </a>
            </div>
        </div>
    
    </div>
    
    <div class="container">
        <h1>🔐 Password Generator</h1>
    
        <input type="number" id="cantidad" placeholder="Cantidad">
        <input type="number" id="longitud" placeholder="Longitud (mín 8)">
        <br>
        <button id="btn-generar">GENERAR</button>
    
        <div id="resultado" class="grid"></div>
    </div>
    
    <div id="toast" class="toast"></div>
    
    <script>
    function toggleMenu(){
        document.getElementById("menu").classList.toggle("active");
        document.getElementById("userMenu").classList.toggle("active");
    }
    
    function showToast(msg){
        const t = document.getElementById('toast');
        t.innerText = msg;
        t.style.display = 'block';
        setTimeout(()=> t.style.display='none',2000);
    }
    
    function colorBar(score){
        if(score <= 2) return 'red';
        if(score == 3) return 'orange';
        return '#00ff9c';
    }
    
    
    function crearCard(p, i){
        const card = document.createElement("div");
        card.className = "card";
    
        card.innerHTML = `
            <b>${i+1}:</b> ${p.password}
            <div>${p.fuerza}</div>
            <div class="progress">
                <div class="bar" style="width:${(p.score/5)*100}%; background:${colorBar(p.score)}"></div>
            </div>
            <button class="copy-btn">Copiar</button>
        `;
    
        const btn = card.querySelector(".copy-btn");
    
        btn.onclick = async ()=>{
            await navigator.clipboard.writeText(p.password);
            btn.textContent = "Copiado ✅";
            showToast("📋 Copiado");
    
            setTimeout(()=> btn.textContent="Copiar",1500);
        };
    
        return card;
    }
    
    
    function renderCards(data){
        const contenedor = document.getElementById("resultado");
        contenedor.innerHTML = "";
    
        data.forEach((p,i)=>{
            const card = crearCard(p,i);
            contenedor.appendChild(card);
    
            setTimeout(()=> card.classList.add("show"), i*100);
        });
    }
    
    document.getElementById("btn-generar").onclick = async ()=>{
        let cantidad = document.getElementById('cantidad').value;
        let longitud = document.getElementById('longitud').value;
    
        if(longitud < 8){
            showToast(" Mínimo 8 caracteres");
            return;
        }
    
        const res = await fetch('/generar',{
            method:'POST',
            headers:{'Content-Type':'application/json'},
            body: JSON.stringify({cantidad, longitud})
        });
    
        const data = await res.json();
    
        if(data.error){
            showToast(data.error);
            return;
        }
    
        renderCards(data);
    };
    </script>
    
    </body>
    
</html>
