<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> 

       
</head>

<body class="log-body">

    <div class="login-container">

        <!-- IZQUIERDA -->
        <div class="left">

            <!-- TU LOGO -->
            <img src="static/logo.png" alt="GENPASS">

            <h1>GENPASS</h1>

            <p>
                Sistema inteligente y seguro para la gestión
                y generación de contraseñas modernas.
            </p>

        </div>

        <!-- LOGIN -->
        <div class="login-box">

            <h2>Iniciar Sesión</h2>
            <form method="POST">
                <div class="input-group">
                    <input name="user" placeholder="Usuario"><br>
                </div>

                <div class="input-group">
                    <input name="password" type="password" placeholder="Contraseña"><br>

                </div>

                <button class="login-btn">
                    Entrar
                </button>
            </form>

                <div class="extra">
                    <a href="/registro">Registarme</a>
                </div>

        </div>

    </div>

</body>

</html>
